* {
  box-sizing: border-box;
}



nav {
  height: 150px;
  display: flex;
  align-items: flex-start;
  padding: 40px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}

.nav--logo {
  max-width:100%;
  font-size: 36px;
  height:2cm;
  width:4cm;
  
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 500px;
  align-self: center;
  
}

.hero--header {
  font-size:40px;
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow-x: auto;
  
}

.card {
  max-width:300px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  position: relative;
  margin: 40px;


}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--price {
  margin-top: auto;
}

.card--star {
  height: 14px;
}
